language: node_js
node_js: 
  - 8.12.0

# S: Build Lifecycle
install:
  - npm install
  - npm install hexo-helper-live2d
  - npm install live2d-widget-model-z16

before_script:
 # - npm install -g gulp

script:
  - hexo clean
  - hexo g

after_script:
  - cd ./public
  - git init
  - git config user.name "songxingguo"
  - git config user.email "1328989942@qq.com"
  - git add .
  - git commit -m "Update Blog By TravisCI With Build $TRAVIS_BUILD_NUMBER"
  # Github Pages
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master
  # Coding Pages
  - git push --force --quiet "https://songxingguo:${CO_TOKEN}@${CO_REF}" master:master
  # Add Tag
  - git tag v0.0.$TRAVIS_BUILD_NUMBER -a -m "Auto Taged By TravisCI With Build $TRAVIS_BUILD_NUMBER"
  # Github Pages
  - git push --quiet "https://${GH_TOKEN}@${GH_REF}" master:master --tags
  # Coding Pages
  - git push --quiet "https://songxingguo:${CO_TOKEN}@${CO_REF}" master:master --tags
# E: Build LifeCycle

branches:
  only:
    - hexo
env:
 global:
  # Github Pages
  - GH_REF: github.com/songxingguo/songxingguo.github.io.git
  # Coding Pages
  - CO_REF: git.coding.net/songxingguo/songxingguo.coding.me.git
