<% if(theme.gitalk) { %>
  <div id="gitalk" sid="<%- page.slug || page.path || 'songxingguo-blog' %>"></div>
  <script charset="utf-8" type="text/javascript" src="/public/js/gitalk.js"></script>
  <script type="text/javascript">
  var postContent = document.querySelectorAll('.post-content>p');
  if (postContent && postContent.length) {
    postContent = postContent.item(0).textContent + (postContent.item(1) && postContent.item(1).textContent || '');
    postContent = postContent.length > 140 ? postContent.slice(0, 140) + '...' : postContent;
  }

  var gitalk = new Gitalk({
    clientID: 'f55a398461d56a3e691e',
    clientSecret: '77359a5d140ac109d31a3a6f2711f0ddb16c69fe',
    language: "zh-CN",
    perPage: 100,
    createIssueManually: false,
    repo: 'songxingguo.github.io',
    owner: 'songxingguo',
    admin: ['songxingguo'],
    id: "<%- page.slug || page.path || 'songxingguo-blog' %>",
    body: '原文地址：' + location.href + '\n\n文摘：' + postContent,
    distractionFreeMode: false,
    proxy: `https://vercel.prohibitorum.top/github_access_token`
  });

  window.addEventListener('load', function () {
    gitalk.render('gitalk');
  });

  // show count
  var commentTimer = setInterval(() => {
    var count = document.querySelector('.gt-link-counts');
    var showCount = document.querySelector('.hash-to-comments');
    if (count && showCount) {
      showCount.textContent = count.textContent;
      clearInterval(commentTimer);
    }
  }, 500);
  setTimeout(() => {
    clearInterval(commentTimer);
  }, 60 * 1E3);
  </script>
  <% } %>